BASE_URL=https://demo.realworld.show

# Used by global-setup.js to create/refresh storage state.
# For Conduit testing, you can use any valid email/password
TEST_USER=
TEST_PASS=

# Optional overrides
AUTH_STORAGE_STATE=.auth/user.json
AUTH_SESSION_MAX_AGE_HOURS=12

# Framework Settings
ENV=prod
TEST_ENV=stage
